@using Notes2021Blazor.Shared
@inject HttpClient Http

<button type="button" class="linkblue" @onclick="Delete">Delete</button>

@code {
    [Parameter] public NoteAccess noteAccess { get; set; }
    [Parameter] public EventCallback<string> OnClick { get; set; }

    protected async Task Delete()
    {
        string encoded = "api/AccessList/" + noteAccess.NoteFileId + "." + noteAccess.ArchiveId + "." + noteAccess.UserID;

        await Http.DeleteAsync(encoded);

        await OnClick.InvokeAsync("Delete");
    }

}

@*  *@