@using Notes2021Blazor.Shared
@inject IModalService ModalService
@inject NavigationManager NavigationManager

<div class="dialogs modal-body">
    <h3>Completed!</h3>
    <br/>
    <button type="button" @onclick="Ok" class="btn btn-success btn-sm">Ok</button>
</div>

@code{

    private void Ok()
    {
        ModalService.Close(ModalResult.Ok<string>("Ok"));
        NavigationManager.NavigateTo(Globals.RootUri, true);
    }
}