@page "/options/index"

<div class="roundedindex">
    <h3>Notes User Options</h3>
    <div>
        <ul>
            <li><a href="options/tracker"> Manage Recent Notes Tracker</a></li>
        </ul>
    </div>
</div>